<!DOCTYPE html>
<html ng-app="tutorialApp">
<head>
	<title>Tutorial App</title>
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/tutorialCtrl.js"></script>
</head>
<body ng-controller="TutorialCtrl">
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subTitle}}</h2>
<p>Number: {{2+2}}</p>
<hr>
<p>String: {{tutorialObject.firstName + " " + tutorialObject.lastName}}</p>
<hr>
<p><b>Binding: {{tutorialObject.bindOutput}}</b></p>
<hr>
<button ng-click="timesTwo()">Multiply</button>
<br>
<label>First Name:</label>
<input ng-model="tutorialObject.firstName" />
<br>
<label>Last Name:</label>
<input ng-model="tutorialObject.lastName" />

<welcome-message></welcome-message>
<span welcome-message></span>
</body>
</html>